body {
    padding: 0px;
    margin: 0px;
    font: normal 20px arial;
}

header {
    text-align: center;
}

p {
    text-align: center;
    margin: 0px;
    padding: 20px;
}

footer {
    font-style: italic;
    text-align: center;
}